/* https://coolors.co/514b23-656839-cbc9ad-cbd0b9-bddbd0 */


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* define variables here */
  --background:#EFEFEF; 
  --primary:#222828;
  --secondary:#949B96;
  --accent:#929982; 
  --text:#222828;
}

/* ====== PAGE STRUCTURE ====== */

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  color: var(--text);
  background-color: var(--background);
  min-height: 100vh;
}

main {
  flex-grow: 1;
  padding: 2em 15%;
}

header,
footer {
  padding: 20px;
  background-color: var(--primary);
  flex-grow: 0;
  box-shadow:0px, 2px, 30px gray; 
}

header a {
  color: var(--accent);
}

/* ====== HEADER-SPECIFIC ====== */

header div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  width: 320px;
  height: 50px; 
}

.nav-menu {
  list-style: none;
  display: flex;
  column-gap: 0.5em;
}

.nav-menu li {
  background-color: var(--secondary);
  padding: 4px 8px;
  text-align: center;
}

.nav-menu li a {
  color: var(--text);
  text-decoration:none;
}

.index-txt-bck{
  padding:10px;
  border-radius:20px;
  border: 2px, solid #2e3331;
  background:#EFEFEF; 
  font-weight:600px;
  font-family:'Times New Roman', serif;
}

h1{
  display:flex;
  padding:20px;
  font-family:'Times New Roman', serif;
  font-weight:100px;
}

aside{
  display:flex;
  padding:20px;

}
/* ====== MAIN CONTENT ====== */

/* ====== FOOTER-SPECIFIC ====== */

footer a,
.footer-txt{
  color:#EFEFEF; 
}
