/* ===========
    TAGS
=========== */
aside {
    width: 30%;
    padding: 5px
}


/* ===========
    CLASSES
=========== */
.logo {
    max-width: 60%;
}

.page-title {
    font-style: italic;
}

/* ===== NAV MENU ===== */
.nav-menu {
    border: 1px solid gray;
    display: flex;
    gap: 7px;
    margin-bottom: 1px;
    padding: 10px;
    background-color: aliceblue;
}

.nav-menu a {
    color: black;
    text-decoration: none;
}

.nav-menu :hover {
    background-color: lightgray;
    box-shadow: 2px 2px 5px gray;
}
