/* CSS organization ideas came from https://developer.mozilla.org/en-US/docs/Learn_web_development/Core/Styling_basics/Organizing */

@import url('https://fonts.googleapis.com/css2?family=Brawler:wght@400;700&family=Uncial+Antiqua&display=swap');

/* || GENERAL STYLES */

body {
    background-color: #fffef3;
    font-family: "Brawler", serif;
    margin: 0;
}

h1,
h2,
h3 {
    font-family: "Uncial Antiqua", serif;
    font-weight: 400;
}

p {
    line-height: 1.5;
}

.row {
    display: flex;
    justify-content: space-around;
}

/* || HEADER */

header {
    padding: 0.5rem 15%;
    background-color: #00461b;
    box-shadow: 0 1px 5px 1px;
}

.logo {
    max-width: 60%;
}

.nav-menu {
    background-color: #002f12;
    box-shadow: 5px, 5px, 5px, 5px, gold;
    border: 1px solid #cab15d;
    display: flex;
    gap: 7px;
    margin-bottom: 1px;
    padding: 10px;
    color: #cab15d;
}

.nav-menu a {
    color: #cab15d;
    text-decoration: none;
}

.nav-menu :hover {
    box-shadow: 2px 2px 5px black;
}

/* || MAIN CONTENT */
main {
    padding: 0 15%;
}

.page-title {
    font-style: italic;
}

aside {
    width: 300px;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px;
    font-style: italic;
    color: #392820
}

blockquote {
    box-shadow: inset 5px 0 5px -5px;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    font-style: italic;
    color: #392820
}

blockquote .citation {
    text-align: right;
}

/* || FORM  */

/* || FOOTER */

footer {
    margin-top: 1rem;
    padding: 0.5rem 15%;
    background-color: #00461b;
    color: white;
    box-shadow: 0 -1px 5px 1px black;
}

footer a {
    color: #cab15d;
}