
.cormorant-garamond {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* define variables here */
  --background: #efefef;
  --primary: #222828;
  --secondary: #949b96;
  --accent: #929982;
  --text: #222828;
}

/* ====== PAGE STRUCTURE ====== */

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  color: var(--text);
  background-color: var(--background);
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

h1 {
  display: flex;
   font-family:"Cormorant Garamond", serif;
  font-weight: 100px;
}

header,
footer {
  padding: 20px;
  background-color: var(--primary);
  flex-grow: 0;
  box-shadow:0px 2px 8px gray;
}

/* ====== HEADER-SPECIFIC ====== */

header a {
  color: var(--accent);
}

header div {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5em;
}

.logo {
  width: 320px;
}

.nav-menu {
  list-style: none;
  display: flex;
  column-gap: 0.5em;
}

.nav-menu li {
  background-color: var(--secondary);
  padding: 4px 8px;
  text-align: center;
  border-radius: 20px;
  border: 1px solid black;
  box-shadow:
    inset 0px 2px 8px -2px white,
    inset 0px -2px 8px -2px;
}

.nav-menu li:hover,
.nav-menu .selected {
  box-shadow:
    inset 0px 2px 8px -2px,
    inset 0px -2px 8px -2px white;
}

.nav-menu li a {
  color: var(--text);
  text-decoration: none;
}

/* ====== MAIN CONTENT ====== */

main {
  margin: 0 10%;
  padding: 1em;
}

.index-txt-bck {
  padding: 10px;
  border-radius: 20px;
  border: 2px solid #2e3331;
  background: #efefef;
  font-weight: 600px;
  font-family:"Cormorant Garamond", serif;
}

/* ====== FOOTER-SPECIFIC ====== */

footer a,
.footer-txt {
  color: #efefef;
}
